*, *::before, *::after{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    scrollbar-color: gray rgb(165, 165, 165);
    scroll-behavior: smooth;
    scrollbar-width: thin;  /* Firefox */
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(65, 65, 65);
  font-family: Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar {
  width: 0px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(114, 113, 113);
  border-radius: 10px;
  height: 200px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

a {
  text-decoration: none;
  color: black;
}

input {
  border: 0;
  outline: none;
}

form { display: flex; }

.category-btn:hover {
  background-color: #219fca !important;
  color: white !important;
}

.category-btn:hover span{
  color: white !important;
}

.react-player {
  height: 77vh !important;
  width: 100% !important;
}

.search-bar{
  border:none;
  outline:none;
  width:350px;
  padding: 8px 0;
  font-size: 14px;
}

.category-btn{
  font-weight: bold !important;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  justify-content: start;
  cursor:pointer;
  background: transparent;
  outline: none;
  border: none;
  padding: 6px 24px 6px 16px;
  margin: 4px 0px;
  border-radius: 8px;
  transition: all 0.3s ease;
}

@media screen and (max-width: 900px) {
  .category-btn{
    margin: 10px;
    padding-right: 16px;
  }
}

@media screen and (max-width:800px){
  .copyright{
    display:none !important;
  }
}

@media screen and (max-width: 600px) {
  .scroll-horizontal {
    overflow: auto !important;
  }

  .react-player {
    height: 44vh !important;
  }
  .search-bar{
    width:200px;
  }
}